@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <a class="btn btn-outline-primary" asp-controller="Book" asp-action="Index">See all books</a>
    <a class="btn btn-outline-primary" asp-controller="User" asp-action="Index">See all users</a>
</div>
