bin/
obj
/.vs/
/OnlineLibraryAdmin/.vs/OnlineLibraryAdmin/FileContentIndex/73f308be-5553-4c27-a06d-6dbb1849ba6e.vsidx
"OnlineLibraryAdmin/.vs/OnlineLibraryAdmin/FileContentIndex/5189c9ec-8625-49c4-85c5-ce8a34148b14.vsidx" 
OnlineLibraryAdmin/.vs/OnlineLibraryAdmin/FileContentIndex/5189c9ec-8625-49c4-85c5-ce8a34148b14.vsidx 
