@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<p>You have succefully subscribed to the library, you can rent books freely now!</p>
<a asp-controller="Order" asp-action="CheckShoppingCart">Back to your shopping cart</a>