@model OnlineLibrary.Domain.Domain.Book

@{
    ViewData["Title"] = "Edit";
}

<style>
    .edit-container {
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #e3f2fd;
        padding: 20px;
        margin-bottom: 20px;
    }

    .edit-header {
        color: midnightblue;
        margin-bottom: 20px;
    }

    .form-group label {
        color: midnightblue;
    }

    .form-control {
        border-radius: 0.25rem;
        border-color: #007bff;
    }

        .form-control:focus {
            border-color: #0056b3;
            box-shadow: none;
        }

    .btn-info-custom {
        background-color: #17a2b8; /* Customize as needed */
        color: #fff;
    }

        .btn-info-custom:hover {
            background-color: #117a8b; /* Darker shade for hover effect */
        }

    .btn-back-custom {
        border-radius: 0.25rem;
        padding: 0.5rem 1rem;
        border: 1px solid #6c757d;
        color: #6c757d;
        background-color: transparent;
        width: 18%; /* Fixed button width */
        height: 36px;
        font-size: 0.875rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
    }

        .btn-back-custom:hover {
            background-color: #6c757d;
            color: #fff;
        }

    .form-group {
        margin-bottom: 1.5rem; /* Added space between form groups */
    }

    .btn-submit-container {
        margin-top: 2rem; /* Space above the submit button */
    }
</style>

<div class="edit-container">
    <div class="edit-header">
        <h1>Edit Book</h1>
        <hr />
    </div>

    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Author</label>
            <select asp-for="AuthorId" class="form-control" asp-items="ViewBag.AuthorId"></select>
            <span asp-validation-for="AuthorId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label  class="control-label">Book Cover Url</label>
            <input asp-for="BookCoverUrl" class="form-control" />
            <span asp-validation-for="BookCoverUrl" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Pages" class="control-label"></label>
            <input asp-for="Pages" class="form-control" />
            <span asp-validation-for="Pages" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Quantity</label>
            <input asp-for="QuantityInInventory" class="form-control" />
            <span asp-validation-for="QuantityInInventory" class="text-danger"></span>
        </div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group btn-submit-container">
            <input type="submit" value="Save" class="btn btn-info-custom m-4" />
        </div>
    </form>

    <div class="d-flex justify-content-end">
        <a class="btn btn-back-custom" asp-action="Index">Back to List</a>
    </div>
</div>
